<!DOCTYPE html>
<html>
<head>
  <title>Apidocs</title>
  <%= stylesheet_link_tag    "apidocs/application", media: "all" %>
  <%= javascript_include_tag "apidocs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
